.CastomShadow {
  box-shadow: 10px 10px 0px -4px rgba(193, 187, 187, 0.75);
  -webkit-box-shadow: 10px 10px 0px -4px rgba(193, 187, 187, 0.75);
  -moz-box-shadow: 10px 10px 0px -4px rgba(193, 187, 187, 0.75);
}
